*{font-family: 'Roboto';}
h1 {
    font-weight: 100;
    color: #FFF;
    font-size: 2.2rem;
    border-bottom: solid 2px #B40717;
}
h2 {
    color: #FFF;
    font-weight: 100;
    font-size: 2rem;
}
p, a, label{
    color: #FFF;
    font-weight: 300;
    line-height: 1.8rem;
}